* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Hero Section */
.hero-i {
  position: relative;
  height: 100vh;
 background: url('/templates/pictures/background.jpg');
  opacity: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Left + Right container */
.hero-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  z-index: 5;
}

/* Left Content */
.hero-left {
  flex: 1;
  padding: 20px;
  text-align: left;
}

/* Right Image */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  max-width: 86.7%;
  height: 80%;
  border-radius: 15px;
  box-shadow:  0 0 3px #ffffff,
      0 0 6px #dceeff;
}

/* Hero Text */
.hero-content {
  position: relative;
  z-index: 5;
}

.hero-content h1 {
  font-size: 3.5rem;
  color: #f7f8fc;
  margin-bottom: 20px;
  text-shadow: 
    0 0 5px #ffffff,
    0 0 10px #dceeff;
    
  animation: glowFrames 2s ease-in-out infinite alternate;
  
}
@keyframes glowFrames {
  0% {
    text-shadow: 
      0 0 3px #ffffff,
      0 0 6px #dceeff,
      0 0 12px #c0e0ff,
      0 0 20px #a0d4ff;
  }
  
}
.hero-content h2{
  color: rgb(249, 6, 6);
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.hero-content p {
  font-size: 1.3rem;
  color: #bac8da;
 margin-bottom: 38.9px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.btn {
  padding: 14px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s ease;
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.primary:hover {
  background: #1d4ed8;
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.5);
}

.btn.secondary {
  border: 2px solid #2563eb;
  font-size: 16px;
 
  color: #0353fe;
}

.btn.secondary:hover {
  background: #2563eb;
  color: white;
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.5);
}

/* ECG Container */
.ecg-container {
  position: absolute;
  width: 300%;
  height: 250px;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  opacity: 0.2;
}

/* ECG Lines */
.ecg-container .ecg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ecg polyline {
  fill: none;
  stroke: #3b82f6;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: heartbeat 3s linear infinite;
  filter: drop-shadow(0 0 8px #3b82f6);
}

.ecg-container .ecg.second polyline {
  stroke: #60a5fa;
  stroke-width: 2;
  animation-duration: 4s;
  filter: drop-shadow(0 0 6px #60a5fa);
  opacity: 0.6;
}

.ecg-container .ecg.third polyline {
  stroke: #93c5fd;
  stroke-width: 1.5;
  animation-duration: 5s;
  filter: drop-shadow(0 0 4px #93c5fd);
  opacity: 0.4;
}

/* ECG Animation Keyframes */
@keyframes heartbeat {
  0% {
    stroke-dashoffset: 1200;
  }
  50% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Responsive */
@media (max-width: 900px) {
  .hero-inner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-left {
    padding: 10px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-right img {
    margin-bottom: 30px;
    
  }
}


@media (max-width: 500px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 20px;
  }
}
.features {
  padding: 80px 8%;
  background:rgb(30, 15, 15);
}

/* SECTION HEADING */
.features-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 60px; 
  color: #0aefe4;
}

.features-heading::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #e63946;
  display: block;
  margin: 14px auto 0;
  border-radius: 2px;
}

/* BOX CONTAINER */
.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* BOX */
.feature-box {
  border: 1px solid rgb(248, 229, 195);
  background: transparent;
  padding: 32px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}
.feature-box:hover{
  border: 1.5px solid white;
}

.feature-box h3{
  font-size: 22px;
  color: rgb(254, 222, 222);
}
.feature-box p{
  margin-top: 15px;
  color: rgb(231, 228, 228);
}
.feature-box i{
  color: white;
  margin-bottom: 13px;
  font-size: 30px;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}


.hero-btn {
  height: 40px;
  position: absolute;
  top: 25px;
  right: 20px;
align-items: center;
text-align: center;
  padding: 10px 18px;
  background: #f54343;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #d80202;
  transform: scale(1.05);
}
.experts {
  padding: 90px 8%;
  background:rgb(30, 15, 15);
}

/* Heading */
.experts-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 60px;
  color: #0aefe4;
}

.experts-heading::after {
  content: "";
  width: 70px;
  height: 4px;
  background: #e63946;
  display: block;
  margin: 14px auto 0;
  border-radius: 2px;
}

/* Cards layout */
.experts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Individual card */
.expert-card {
  background: white;
  border: 1px solid white;
  padding: 36px;
  border-radius: 18px;
  box-shadow: 0 10px 28px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.expert-card:hover {
  transform: translateY(-6px);
}

.expert-card h3 {
  font-size: 1.4rem;
  color: rgb(54, 53, 53);
  margin-bottom: 6px;
}

.expert-card span {
  font-size: 1rem;
  color: #ff283a;
  font-weight: 600;
}

.expert-card p {
  margin-top: 16px;
  font-size: 0.98rem;
  line-height: 1.7;
  color: #3d3a3a;
}

/* Responsive */
@media (max-width: 768px) {
  .experts-container {
    grid-template-columns: 1fr;
  }
}
.subscribe {
  padding: 90px 8%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  text-align: center;
  color: #fff;
}

/* Main heading */
.subscribe-heading {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

/* Sub text */
.subscribe-text {
  font-size: 1.2rem;
  color: #bbbebe;
  margin-bottom: 40px;
}

/* Form */
.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.subscribe-form input {
  padding: 14px 18px;
  width: 320px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.subscribe-form button {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  background: #e63946;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.subscribe-form button:hover {
  background: #fb3b48;
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 480px) {
  .subscribe-form input {
    width: 100%;
  }
}
.developer {
  padding: 100px 8%;
  background: rgb(30, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-card {
  border: 1px solid white;
  background: transparent;
  max-width: 520px;
  padding: 45px 40px;
  text-align: center;
  border-radius: 22px;
  box-shadow: 0 20px 45px rgba(247, 242, 242, 0.1);
  position: relative;
  transition: transform 0.3s ease;
}

/* Small tag */
.dev-tag {
  display: inline-block;
  padding: 6px 14px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 20px;
  background: #e63946;
  color: #fff;
  margin-bottom: 14px;
}


.developer-card h2 {
  font-size: 2rem;
  font-weight:bold;
  margin-bottom: 16px;
  color: #7d7dfe;
}


.developer-card p {
  font-size: 0.95rem;
  line-height: 1.7;
  color: rgb(250, 238, 238);
}
.developer-wrapper {
  display: flex;
  align-items: center;
  gap: 180px;
}

/* LEFT IMAGE */
.developer-image img {
  width: 320px;
  border-radius: 16px;
  max-width: 100%;
  position: sticky;
  top: 120px;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.8);
}
.faq {
  padding: 90px 8%;
  background: rgb(30, 15, 15);
}

.faq-heading {
  text-align: center;
  color: #0aefe4;
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: 700;
}

.faq-item {
  max-width: 700px;
  margin: 0 auto 18px;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 22px 26px;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question .arrow {
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  padding: 0 26px 22px;
  color: #555;
  line-height: 1.6;
}

/* ACTIVE STATE */
.faq-item.active .faq-answer {
  max-height: 200px;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}
.footer {
  background: #0f172a;
  color: #e5e7eb;
  padding: 70px 8% 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}

/* Brand */
.footer-brand h2 {
  font-size: 1.9rem;
  margin-bottom: 14px;
  color: #ffffff;
}

.footer-brand p {
  font-size: 0.99rem;
  line-height: 1.7;
  color: #cbd5f5;
}

/* Links */
.footer-links h4,
.footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 14px;
  color: #ffffff;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cbd5f5;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #e63946;
}

/* Contact */
.footer-contact p {
  font-size: 0.99rem;
  margin-bottom: 8px;
  color: #e63946;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #e9eaeb;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
/* Modal overlay */
.auth-modal {
  position: fixed;
  inset: 0;
  background: rgba(2, 6, 23, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.auth-modal.show {
  opacity: 1;
  pointer-events: auto;
}

/* Card */
.auth-card {
  
  padding: 30px;
  border-radius: 18px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  animation: pop 0.3s ease;
  background: linear-gradient(
    135deg,
    rgba(15, 23, 42, 0.85),
    rgba(2, 6, 23, 0.9)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid #a9c8fe;
  border-radius: 22px;

   box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.6),
    0 2px 8px rgba(0, 0, 0, 0.5);
}
.auth-card i {
  font-size: 32px;
  color: rgba(84, 87, 250, 0.8);
  margin-bottom: 13.5px;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.auth-card h2 {
  color: white;
  margin-bottom: 10px;
}

.auth-card p {
  font-weight: bold;
  color: #03fad9;
  opacity: 0.8;
  font-size: 16.5px;
  margin-bottom: 25px;
}

/* Buttons */
.auth-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.login-btn {
  background: #3b82f6;
  border: none;
  color: white;

  padding: 12px 24px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #1e63f8;
}

.guest-btn {
  background: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.guest-btn:hover {
  background: #0f0f0f;
}
