* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



.login-container {
  background: #fff;
  width: 380px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 8px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}

.google-btn img {
  width: 18px;
}

.google-btn:hover {
  background: #f5f5f5;
}

.divider {
  margin: 25px 0;
  position: relative;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  color: #999;
  font-size: 13px;
}

.divider::before {
  content: '';
  height: 1px;
  width: 100%;
  background: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #1a73e8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.login-btn:hover {
  background: #1558c0;
}

.footer-text {
  margin-top: 25px;
  font-size: 12px;
  color: #999;
}
